* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: sans-serif;
  background-color: #e6ecf0;
}

.container {
  width: 95%;
  margin: 0 2.5%;
  overflow: hidden;
}

div {
  display: inline-block;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #bcc3c7;
  font-size: 12px;
}

.subcontainer {
  width: 25%;
  display: inline-block;

}

.left {
  float: left;
}

.right {
  float: right;
}

.image-header {
  width: 35px;
  height: 35px;
}

.image-header img {

  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.text-gray {
  color: #66757f;
  font-weight: bold;
}

.subcontainer.left, .subcontainer.right {
  margin-left: 8%;
  margin-right: 2%;
}

.subcontainer.left .text-gray:hover {
  color: #4ab3f4;
  cursor: pointer;
}

.subcontainer.left .text-gray {
  margin-top: 5px;
  margin-bottom: 5px;
}


.text-skyblue {
  color:#4ab3f4;
}

.subcontainer.middle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
