@font-face {
    font-family: "Segoe UI";
    src: url("segoe-ui-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #e6ecf0;
}

span, input {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 5%;
}

header {
  background-color: #fff;
  border-bottom: 2px solid #bcc3c7;
}
header .container {
  height: 45px;
}
.subcontainer {
  width: 33%;
  float: left;
  height: 45px;
}

.subcontainer.left div{
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.skyblue {
  color: #4ab3f4;
  font-weight: bold;
  padding-top: 15px;
}

.gray {
  color: #66757f;
  padding: 12px 15px;
  font-size: 18px;
}


.blue {
  font-size: 1.1em;
  color:#1da1f2;
  font-weight: bold;
}

.small {
  font-family: 'Segoe UI';
  font-weight: bolder;
  font-size: 14px;
}

.smaller {
  font-family: 'Segoe UI';
  font-weight: bolder;
  font-size: 12px;
}

.home:hover {
  color: #4ab3f4;
  cursor: pointer;
  transition: 0.7s;
}

.subcontainer.middle.skyblue {
  text-align: center;
  font-size: 17px;
}

.image-profil {
  width: 35px;
  height: 35px;
  float: left;
  display: block;
  margin: 5px;
}

.image-profil img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.button-tweet {
   margin: 3px 10px;
  float: left;
  color: white;
  background-color: #4ab3f4;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bolder;
}

.search-header {
  width: 200px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 80px;
  border: 1px solid #e6ecf0;
  background-color: #f5f8fa;
  height: 23px;
  float: left;
}

.search-header input {
    border: none;
    border-radius: 100px;
    background-color: #f5f8fa;
    color: #14171a;
    font-size: 12px;
}

.icon-input{
  float: right;
}

.main{
  clear: both;
}

.subcontainer-page {
  width: 25%;
  margin: 0px;
  padding: 0px;

}

#section1 .portada, #section1 .tendences{
  background-color: #fff;
}

#section1 .perfil {
  width: 76px;
  height: 76px;
}

#section1 .perfil img {
  width: 76px;
  height: 76px;
  border-radius: 50px;
  border: 5px solid #fff;
  float: left;
  margin-top: 20%;
  margin-left: 2%;
}

#section1 .portada .image-portada  {
  width: 100%;
  position: relative;
}

 .image-portada img{
  width: 100%;
  height: 100px;
}
.perfil{
  top: -60px;
  position: relative;
}

.info {
  position: relative;
  top: -65px;
  width: 60%;
  float: left;
}

.info p:first-child {
  color: #000;
  font-weight: bold;
}

.info p:first-child+p {
  color: #66757f;
}

.tweets {
  margin-left: 5%;
  margin-right: 5px;
}
.tweets div {
  float: left;
  display: inline-block;
  width: 30%;
}

.tendences {
  margin-top: 10px;
}

.tendences div:first-child p {
  color: #000;
  font-weight: bold;
}

.tendences div:first-child span {
  color: #4ab3f4;
  font-size: 10px;
}

#section2 {
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
}

.post {
  padding: 5px;
  width: 100%;
  background-color: #e8f5fd;
  overflow: auto;
}

.post .search-header{
  width: 87%;
  border-radius: 20px;
  background-color: #fff;
  overflow-x: hidden;
}

.post .search-header input {
  width: 95%;
  height: 100%;
  outline: none;
  background-color: inherit;
}

#tweets {
  width: 95%;
  padding: 5px;
  border: 1px solid blue;
}

.white {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  background-color: #4ab3f4;
  width: 70px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  display: block;
}

.text-tweet {
  width: 95%;
  height: 100px;
  border: 2px solid #a4d9f9;
  border-radius: 10px;
  background-color: #fff;
  float: left;
}

textarea:focus{
  outline: none;
  border: #1da1f2;
}

.txta-input{
  height: 70px;
  width: 90%;
  height: 100%;
  outline: none;
  background-color: inherit;
  float: left;
}



.followers {
  background-color: #fff;
  overflow: auto;
  padding: 10px;
}

.followers p.left:first-child {
  color: #000;
  font-weight: bold;
}

.followers p {
  padding-left: 5px;
  padding-right: 5px;
}
